<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>CHROMA</title>
</head>
<body>
    

   <div class="main">

    <div class="right">
        <div class="head">
            <div class="up">
                <i class="fa-solid fa-user fa-3x"></i>
            </div>
            <hr>
        </div>
        <div class="area">
        </div>
        <div class="text">
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>

</body>
</html>