<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <title>Document</title>
</head>
<body>
    <div class="txt"><h2><u>Suggestions 😃</u></h2></div>
    <div class="content">
         <%  userlist.forEach(user=>{ %>
            <% if(nickname!=user.email){%>
            <ul class="main">
                <li class="list"><%=user.name%></li >
                <li class="list"><%=user.email%></li >
                <li class="list"><%=user.food%></li >
                <li class="list"><%=user.sport%></li >
                <a href="./chat" role="button">Let's Chat!</a>
            </ul>
        <%}%>
        <% }) %>
    </div> 
</body>
</html>