<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="left-side">
        <div class="content">
          <hr />
          <h3>WHO WE ARE</h3>
          <h1>ABOUT<span style="color: green"> US</span></h1>
          <p>
            Chroma is a platform that helps you figure out individuals around
            you having similar interests as yours.<br />
            <br />
            This would help you to be familiar with more people and make you
            more friendly and extrovert as you start talking to them
          </p>
        </div>
        <div class="img"></div>
      </div>
      <div class="right-side">
        <h1><i>Chroma</i></h1>
        <div class="login-form">
          <h3>Welcome Back!</h3>
          <hr />
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email" class="em">Email</label>
              <input type="email" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <label for="password" class="pw">Password</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <button type="submit" class="btn">Login</button>
          </form>
          <div class="sig">
          <a href="./register" role="button">Register</a>
          <div>
        </div>
      </div>
    </div>
  </body>
</html>
